.atom/.node-gyp
.atom/.storage
.atom/packages
.atom/storage
.atom/themes

sublime/User/Package\ Control.sublime-settings
sublime/User/Package Control.last-run
python/virtualenv.symlink/hook.log*
git/gitconfig.symlink
config/config.symlink/pianobar/state
sublime/User/Package Control.cache/
sublime/User/Package Control.system-ca-bundle
config/config.symlink/beets/
config/config.symlink/hub
config/config.symlink/configstore
