atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/.npm/
atom.symlink/atom-shell/
atom.symlink/compile-cache/
atom.symlink/nohup.out
atom.symlink/.apm/
atom.symlink/blob-store/
atom.symlink/electron/

bin/composer

sublime/User/Package\ Control.sublime-settings
sublime/User/Package Control.last-run
python/virtualenv.symlink/hook.log*
git/gitconfig.symlink
sublime/User/Package Control.cache/
sublime/User/Package Control.system-ca-bundle

config/config.symlink/
!config/config.symlink/pianobar
!config/config.symlink/Mutate/config.ini
