atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/.npm/
atom.symlink/atom-shell/
atom.symlink/compile-cache/
atom.symlink/nohup.out

bin/composer

sublime/User/Package\ Control.sublime-settings
sublime/User/Package Control.last-run
python/virtualenv.symlink/hook.log*
git/gitconfig.symlink
config/config.symlink/pianobar/state
sublime/User/Package Control.cache/
sublime/User/Package Control.system-ca-bundle
config/config.symlink/beets/
config/config.symlink/hub
config/config.symlink/configstore

