'*':
  'core':
    'projectHome': '/home/matt/code'
    'themes': [
      'seti-ui'
      'peacock'
    ]
  'editor':
    'fontFamily': 'Source Code Pro'
    'lineHeight': 1.7
    'preferredLineLength': 120
    'scrollPastEnd': true
    'showIndentGuide': true
    'showInvisibles': true
    'invisibles': {}
