'global':
  'exception-reporting':
    'userId': '5125422d-a4ad-7300-c0ea-1eba70446e55'
  'core':
    'themes': [
      'seti-ui'
      'earthsong'
    ]
  'editor':
    'fontFamily': 'Source Code Pro'
    'lineHeight': 1.7
    'showInvisibles': true
    'showIndentGuide': true
    'preferredLineLength': 120
    'invisibles': {}
  'welcome':
    'showOnStartup': false
